.dev-manage-lift-title {
    color:#ffffff;
    font-size: 18px;
    padding: 17px 17px;
    font-weight:normal;
}
.col-sm-8 .panel-body {
    padding: 0px;
}

.table tr th {
    color: #515362;
    text-align: center;
}