.row {
    margin-left: 10px;
}

.title {
    color:#ffffff;
    font-size: 18px;
    padding: 17px 17px;
    font-weight:normal;
}
.energy-manage {
    padding: 5px 0px;
}

.power-consumption > .panel-heading{
    background-color: #191a2d!important;
}
 .power-consumption > .panel-heading > .text-left{
    background-color: #191a2d;
}

.water-consumption > .panel-heading{
    background-color: #191a2d!important;
}
 .water-consumption > .panel-heading > .text-left{
    background-color: #191a2d;
}

.power-consumption .panel-heading .text-left span:nth-child(2), 
.water-consumption .panel-heading .text-left span:nth-child(2){
    padding-left: 12px;
}

.water-consumption .panel-heading > .text-left {
    padding-top:5px;
    border-top: 1px solid #303142!important;
}
.power-consumption .panel-body{
    padding:1px;
}
.water-consumption .panel-body{
    padding:1px;
}