
.row {
    margin-left: 10px;
}
.title {
    color:#ffffff;
    font-size: 18px;
    padding: 17px 17px;
    font-weight:normal;
}
.chart-header * {
    display: inline-block;
    font-size:14px;
}
.chart-header span:first-child {
    float: left;
    color:#4b4d5c;
}
.chart-header span:last-child {
    float: right;
    margin-right: 45px;
 }