.labourdev-person-title {
    color:#ffffff;
    font-size: 18px;
    padding: 17px 17px;
    font-weight:normal;
}

.labourdev-person-info > .labour-person-basic-detail, .labourdev-person-info > .labour-person-pie-tab {
    background-color: #191a2d!important;
}

.col-sm-8 .panel-body {
    padding: 0px;
}

.row > .col-sm-4 > .labourdev-person-info > .panel-body > .table > tbody > tr > td{
    padding:21px 5px;
}
.table tr th {
    color: #515362;
    text-align: center;
}

.labour-person-basic-detail ul {
    list-style-type: none;
    color:#ffffff;
    /* padding: 10px 20px; */
    font-size: 19px;
    padding:0px 17px;
    font-weight: normal;
}
.labour-person-basic-detail > ul > li{
    float: left;
    margin-right: 5%;
}
.labour-person-pie-tab ul {
    list-style-type: none;
    color: #515362; 
    font-size: 14px;
    padding:0px 17px;
}

.labour-person-pie-tab > ul > li:nth-child(1){
    float: left;

}
.labour-person-pie-tab > ul > li:nth-child(2){
    float: right;
    padding-right: 10px;
}

.btn-normal{
    vertical-align:middle;
    color:#ffffff;
    background: #1f2039;
    border-radius: 1px;
    padding: 0px 12px;
    border: 1px #4d97ab solid;
    height: 20px;
    font-size: 14px;
    font-weight: normal;

}
.btn-focus {
    font-weight: normal;
    font-size: 14px;
    vertical-align:middle;
    color:#ffffff;
    height: 20px;
    border: none;
    background-repeat: no-repeat;
    background-image: url(../images/labourdev_btn_bg.png);
}