.progress_milestone > div {
    height: 45%;
}

.container-fluid > .row:first-child, .container-fluid > .panel:first-child {
     margin-top: 0px;
}

.comparison-title {
    color:#ffffff;
    font-size: 19px;
}