.quality-craft-title {
    color:#ffffff;
    font-size: 18px;
    padding: 17px 17px;
    font-weight:normal;
}
.panel-body {
    padding: 0px;
}

.quality-craft-info .row {
    margin: 20px 28px 0px 15px;
    padding: 6px 4px 7px 5px; 
    border: 1px #7e7f89 solid;
}
.quality-craft-info .info-img{
    float:left;
}
.quality-craft-infoo .info-msg{
    float:left;
} 